[submodule "3rd-party/jwiegley-magit"]
	path = 3rd-party/jwiegley-magit
	url = git://github.com/jwiegley/magit.git
[submodule "github-forks/gitsum"]
	path = github-forks/gitsum
	url = ../gitsum
[submodule "github-forks/jekyll"]
	path = github-forks/jekyll
	url = ../jekyll
